/* GENERAL STYLES */
.header {
  font-family: 'Playfair Display', serif;
  font-size: larger;
}

.header img {
  height: 80px;
  margin-right: 10px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.2rem;
  margin-top: 0;
}

input, body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

body {
  background-color: #fbf9e5
}

/* inputs */

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #998650;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

input[type="date"] {
  border: 1px solid #998650;
  color: black;
  padding: 8px;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input[type="date"]:focus {
  border-color: #2c3e50;
}

.file-input-btn {
  font-weight: normal !important;
  width: 120px;
  display: inline-block;
  background-color: #998650;
  color: white;
  border: 1px solid #998650;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  text-align: center;
}

.file-input {
  position: fixed;
  top: 0;
  left: 0; 
  opacity: 0;
  pointer-events: none;
}

.file-input-btn:hover, .file-input-btn:focus + {
  opacity: 1;
  cursor: pointer;
  border-color: #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.file-input-btn:active {
  opacity: 1;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container input {
  font-size: 1.1rem;
  padding: 15px 5px 5px;
  display: block;
  width: 100%;
  border: 1px solid #998650;
  border-bottom: 2px solid #998650;
  background-color: transparent;
  transition: all 0.3s;
}

.input-container input:focus {
  outline: none;
  border-bottom-color: #92AFD7;
}

.input-container label {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 20px;
  transition: all 0.3s;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 2px;
  font-size: 0.8rem;
  color: #92AFD7;
}

.radio input[type='radio'] {
  display: none;
}

.radio label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #FF2E63;
  background-color: transparent;
}

.radio label {
  position: relative;
}

.radio label input[type='radio']:checked + span {
  border-radius: 4px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 3px;
  display: block;
  background-color: #FF2E63;
}

.radio-wrapper :first-child{
  margin-top: 10px;
}

.event-passed {
  font-size: small;
  font-style: italic;
}

.radio + .radio {
  margin-top: -10px
}

.privacy-choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.autologin-choice {
  min-width: 50px;
}

.autologin-choice-div {
  display: flex;
  align-items: center;
}

.autologin-info {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 10px;
}

.autologin-choice, .privacy {
  padding: 5px;
  background-color: none;
  border: 1px solid #998650;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.autologin-choice.autologin-true, .privacy.clicked {
  background-color: #DBBBF5;
  font-weight: bold;
}

/* forms */

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}

button {
  background-color: #FF2E63;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #CC245D;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 46, 99, 0.4);
}

.button-small {
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-small:hover {
  background-color: #4C2C72;
}

.button-small:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 46, 99, 0.4);
}

/* main elements in all pages */

.page-body {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.Menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:#4C2C72;
  cursor: pointer
}

.Menu li {
  float: left;
  padding: 10px;
  color: #ede6f4;
}

.Menu li:hover {
  background: #ede6f4;
  color:#4C2C72;
}

.Mainpage {
  flex: 1;
}

.button-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* HEADER COMPONENT, REGISTRATION FORM */

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DBBBF5;
  padding: 20px;
  font-size: 18px;
}

.Header div:first-child {
  display: flex;
  align-items: center;
}

.Header div:first-child span {
  color: #4C2C72;
  margin-left: 5px;
}

u {
  text-decoration: none;
}

.Header form {
  margin: 0;
}

.login-button-error {
  height: 42.5px;
}

.error {
  text-align: center;
  max-width: 200px;
  color: #FF2E63;
  border: 1px solid #FF2E63;
  font-size: medium;
  padding: 5px;
  bottom: 55.5px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.sucsess {
  text-align: center;
  display: inline-block;
  color: #4C2C72;
  border: 1px solid #4C2C72;
  font-size: medium;
  padding: 5px;
  bottom: 55.5px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.to-follow {
  text-align: center;
  display: inline-block;
  color: #FF2E63;
  border: 1px solid #FF2E63;
  font-size: medium;
  padding: 5px;
  bottom: 55.5px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.login {
  left: 100px;
  position: relative;
}

.filter {
  left: 200px;
  margin-top: 19px;
  padding: 8px;
  position: relative;
}

.register-error {
  left: 120px;
  bottom: 53px !important;
}

.user-options-menu {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.follow-options-menu {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.follow-options {
  max-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
  background-color: #DBBBF5;
  padding-inline-start: 0px;
  margin-top: -5px;
  align-items: right;
}

.invite {
  margin-top: 4px;
  padding-bottom : 10px;
}

.invite button {
  padding: 3px;
  width: 50px;
  margin-left: 10px
}

.invite ul {
  margin-top: 0px
}

.follow-options li {
  max-height: 35px;
  display: flex;
  list-style-type: none;
  color: #4C2C72;
  padding: 8px;
}

.follow-options li:hover {
  background: #ede6f4;
  color:#4C2C72;
}

.follow-options-menu + .follow-options-menu {
  margin-left: 140px;
}

.notification-list, .user-options {
  width:auto;
  display:flex;
  flex-direction: column;
  position: absolute;
  margin-top: 34px;
  background-color: #DBBBF5;
  padding-inline-start: 0px;
}

.notification-list li button {
  padding: 2px 4px;
  margin-left: 5px
}

.notification-list span b {
  margin: 0px 5px;
}

.user-options li, .notification-list li {
  list-style-type: none;
  cursor: pointer;
  color: #4C2C72;
}

.notification-list li span {
  display:flex;
  align-items: center;
}

.notification-icon {
  display: grid;
  align-items: center;
}

.notification-icon .icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.notification-icon .icon i {
  font-size: 24px;
}

.notification-icon .icon .notification-count {
  background-color: #4C2C72;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
    text-align: center;
  }

  .Header div:first-child {
    margin-bottom: 10px;
  }

  .notification-icon .icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.register {
  padding: 5px;
  font-size: smaller;
  border:  1px solid #998650;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.register:hover {
  background-color: #DBBBF5;
}

.register-clicked {
  padding: 10px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

/* User Page */
/* Your profile */

.Mainpage h2 {
  padding-left: 20px;
}

.privacy-icon {
  margin-left: -6px !important;
  margin-right: -4px !important;
}

.privacy {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  height: 20px;
}

.personal-profile-wrapper {
  min-width: 470px;
}

@media only screen and (max-width: 500px){
.personal-profile-wrapper {
  min-width: 0;
  /* border: 1px solid red */
}

.personal-info {
  grid-template-columns: none !important;
}

.chat-window-modal {
  border-radius: 5px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0 !important;
  margin-right: 0px !important;
  width: 190px !important;
  background-color: #DBBBF5;
}

.emoji-wrapper {
  height: 100px !important;
  right: 50vw;
}

.chatBox button:first-child {
  margin-left: 173px !important;
}

.user-list-list {
  grid-template-columns: none !important;
}

.user-item {
  display: grid;
  grid-template-columns: 1fr 100px !important;
}

}

.personal-info {
  display: grid;
  grid-template-columns: 240px auto auto;
}
 
.personal-info-column {
  margin-bottom: 10px;
  display: inline-grid;
  align-content: space-around;
}

div.personal-info.main-wrapper > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  align-items: center;
}

div.personal-info.main-wrapper > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) {
  margin-right: -15px;
}

/* Clear floats after the columns */
.personal-info-column:after {
  content: "";
  display: table;
  clear: both;
}

.personal-info-column div{
  margin-bottom: 10px;
}

.follow {
  display: flex;
}

.follow div {
  display: block;
}

.follow button {
  margin-right: 10px;
}

.personal-avatar {
  width: 200px;
  height: 200px;
  object-fit:cover;
  border-radius: 50%;
}

.avatar-symbol {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit:cover;
  border-radius: 50%;
}

/* Create a post */

.comments-wrapper {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFE1E8;
  border-radius: 5px;
}

.post-comment-form {
  margin-top: 20px;
}

.post-comment-form form {
  display: flex;
  flex-direction: column;
}

.post-comment-form label,
.create-event label {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.post-comment-form label > span {
  margin-bottom: 5px;
}

.post-comment-form input[type="text"],
.post-comment-form input[type="file"],
.post-comment-form select,
.post-comment-form textarea,
.create-event  input[required]{
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #223127;
  flex: 1;
}

.post-comment-form textarea {
  resize: none;
  min-height: 100px;
}

.group-wrapper textarea, .event-desc textarea {
  resize: none;
  min-height: 30px;
}

.create-event textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #223127;
  flex: 1;
}

.new-post-wrapper {
  background-color:  #ede6f4;
}

.main-wrapper {
  padding: 20px;
}

#privacy {
  width:auto;
}

#users {
  width:auto;
  overflow-y: scroll;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Created posts */
.post-wrapper h3 {
  margin-top: 0;
}

.post-image img, .comment-image img {
  margin-top: 5px;
  max-width: 70%;
  border: 1px solid #998650;
}

.created-at {
  text-align: right;
  font-size: small;
  font-style: italic;
}

.wrote{
  font-size: small;
  font-style: italic;
}

.comment-content {
  font-size: 14px;
}

.comment-wrapper + .comment-wrapper {
  margin-top: 10px;
  border-top: 1px solid #998650;
  padding-top: 10px
}

.post-wrapper + .post-wrapper {
  margin-top: 15px;
  border-top: 2px solid #FF2E63;
  padding-top: 10px
}

.upload {
  font-size: small;
  font-style: italic;
  margin-bottom: 10px;
}

/* Users */
.follow-users {
  background-color: #998650;
  display: inline-block;
}

.button-padding {
  padding-left: 20px;
}

.unfowllow-users {
  background-color: #FF2E63
}

.pending-users {
  background-color: #4C2C72;
  cursor: default !important;
}

span + .button-small {
  margin-left: 10px;
  margin-top: 10px;
}

.user-list {
  padding: 20px
}

.user-list-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Group List */

.Mainpage h1{
  margin-top: 0;
  margin-bottom: 0
}

.groups-wrapper {
  padding: 20px;
}

.single-group-wrapper {
  padding: 20px
}

.group-wrapper {
  min-width: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.group-column {
  float: left;
  width: 74%;
  text-align: left;
}

.group-activity-link {
  text-align: center;
  width: 13%;
  /* text-decoration-line: underline; */
}

.go-to {
  background-color: #998650;
}

.join, .create{
  background-color: #FF2E63;
}

.requested {
  background-color: #4C2C72;
  cursor: default !important;
}

.invited {
  background-color: #4C2C72;
  cursor: default !important;
}

.group-desc {
  font-style: italic;
}

.group-created-at, .group-members{
  font-size: small;
  font-style: italic;
}

.Mainpage ul{
  padding: 0
}

ul.group-users-buttons {
  display: flex;
  list-style-type: none;
  padding: 0
}

.group-events li {
  list-style-type: none;
}

.group-events h3 {
  margin: 0
}

.group-events > ul > li:nth-child(2){
  font-style: italic;
  font-size:small;
}

.group-avatar {
  margin-top: 10px
}

.event-info {
  margin-top: 5px;
}

.events-wrapper {
  padding: 20px
}

.event-info > li {
  margin-right: 10px;
}

.group-events > ul:not(:last-child):nth-of-type(n+1) {
  border-bottom: 1px solid #998650;
}

.group-events > ul:nth-child(2) {
  margin-top: 20px;
}

.create-event-wrapper {
  background-color: #FFE1E8
}

.create-event {
  padding: 20px;
}

.create-post {
  padding: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-item {
  margin-top: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 0.6fr 100px;
  cursor: pointer
}

.user-item button {
  margin-left: 10px
}

.user-profile-name {
  display:flex;
  align-items: center;
}

.user-profile-name > div:nth-child(2){
  max-inline-size: 120px;
}

.user-profile-name div{
  display: flex;
  align-items: center;
}

.header span:hover, .user-item span:hover, .icon:hover, .Menu li:hover {
  cursor: pointer;
}

/* Chat */
.chat-window-modal {
  border-radius: 5px;
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 210px;
  width: 350px;
  background-color: #DBBBF5;
}

.add-chat {
  padding: 20px
}

div.chat-window-modal > div > div > div.chat-input-user > button:nth-child(3) {
  font-size: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

div.chat-window-modal > div > div > div.chat-input-user > button:nth-child(2) {
  background-color: transparent !important;
  padding: 0;
}

.chat-window-modal h2 {
  word-wrap: break-word;
}

.chat-info {
  display: flex;
  border-bottom: 1px solid #4C2C72;
}

.chatBox button:first-child {
  position: absolute;
  text-align: center !important;
  margin-left: 333px;
  margin-top: -10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 10px;
}

.filter-label{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #4C2C72
}

.find-chat {
  font-weight: bold;
  width: 190px;
  padding: 5px;
}

.chat-title h2 {
  max-width: 170px;
}

.chatBox h2 button {
  float: right !important;
  border: none;
  border-radius: 5px;
  padding: 5;
  margin-right: 5;
  cursor: pointer;
  display: absolute;
}

.chatBox h2 {
  margin: 0px;
  padding: 10px;
}

.chatBox .avatar-symbol {
  width: 40px;
  height: 40px;
}

.chatBox .chat-container {
  display: grid;
  margin-top: 10px;
  overflow-y: scroll;
  height: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.chatBox .chat-container div {
  margin-bottom: 8px;
}

.chat-container span {
  margin:2px;
}

.chat-message-displayed {
  display: inline-block;
  margin-top: 10px !important;
  padding: 5px;
  border-radius: 10px;
  background-color: #f8f8f8;
  max-width: 200px;
}

.chat-message {
  margin-top: 4px
}

div.chat-window-modal > div > div > div.chat-container > .right-message > span {
  float: right
}

div.chat-window-modal > div > div > div.chat-container > .right-message > .chat-message {
  align-items: end;
}

.left-message .chat-message .chat-message-displayed{
  float: left
}

.right-message .chat-message {
  text-align: right;
}

.right-message .chat-message-displayed {
  background-color: #FF2E63;
}

.chat-input-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input-user button {
  width: 15%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-input-user input {
  width: 65%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.emoji-wrapper {
  position: absolute;
  /* border: 10px solid red; */
  height: 100px;
}

.emoji-wrapper ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.emoji-wrapper ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.emoji-picker {
  cursor: pointer;
  position: relative;
  bottom: 80px;
  left: 106px;
  width: 140px;
  height: 106px;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 2px;
  background-color: #4C2C72;
}

.emoji-picker span {
  font-size: 20px;
  padding: 1px;
}

.chat-bubble {
  width: 50px;
  height: 50px;
  background-color: #4C2C72;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  right: 10px;
  bottom: 10px;
  z-index: 3;
}

.chat-list-container {
  max-height: 200px;
}

.chat-list-container h2 {
  margin-top: 10px;
  width:max-content;
  margin: 0;
  padding: 5px;
  color: white;
  text-align: center;
  border: white;
  background-color: #4C2C72;
}

.chat-list-container div {
  background-color: #4C2C72;
}

.chat-list {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #DBBBF5;
  border-radius: 5px;
  max-width: 200px;
  min-height: 400px;
  max-height: 600px;
  overflow-x: scroll;
  padding: 0;
  z-index: 2;
}

.chat-list-container li:hover {
  background-color: #92AFD7;
  color: white;
}

.chat-list-container li:first-child {
  /* border-top: 35px #4C2C72 solid; */
}

.chat-list-container li {
  border-bottom: 1px #4C2C72 solid;
  text-indent: 5px;
  padding: 10px;
  align-items: center;
  display: flex;
}

.chat-list-container ul {
  line-height: 2;
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
}

.accordion {
  cursor: pointer;
  padding: 1px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.arrow-up-icon:before {
  content: "▲";
}

.arrow-down-icon:before {
  content: "▼";
}

/* Add styling for the arrow icons */
.arrow-up,
.arrow-down {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  font-style: normal !important;
}

.active, .accordion:hover {
  background-color: #cccccc68; 
}

.hidden {
  display: none;
}