/* GENERAL STYLES */
.header {
  font-family: 'Playfair Display', serif;
  font-size: larger;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3.2rem;
  margin-top: 0;
}

input, body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

body {
  background-color: #fbf9e5
}

/* inputs */

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #998650;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: black;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

input[type="date"] {
  border: 1px solid #998650;
  color: black;
  padding: 8px;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input[type="date"]:focus {
  border-color: #2c3e50;
}

.file-input-btn {
  font-weight: normal !important;
  width: 120px;
  display: inline-block;
  background-color: #998650;
  color: white;
  border: 1px solid #998650;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  text-align: center;
}

.file-input {
  position: fixed;
  top: 0;
  left: 0; 
  opacity: 0;
  pointer-events: none;
}

.file-input-btn:hover, .file-input-btn:focus + {
  opacity: 1;
  cursor: pointer;
  border-color: #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.file-input-btn:active {
  opacity: 1;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container input {
  font-size: 1.1rem;
  padding: 15px 5px 5px;
  display: block;
  width: 100%;
  border: 1px solid #998650;
  border-bottom: 2px solid #998650;
  background-color: transparent;
  transition: all 0.3s;
}

.input-container input:focus {
  outline: none;
  border-bottom-color: #92AFD7;
}

.input-container label {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 20px;
  transition: all 0.3s;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 2px;
  font-size: 0.8rem;
  color: #92AFD7;
}

.input-container input:focus + label {
  color: #92AFD7;
}

.radio input[type='radio'] {
  display: none;
}

.radio label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #FF2E63;
  background-color: transparent;
}

.radio label {
  position: relative;
}

.radio label input[type='radio']:checked + span {
  border-radius: 4px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 3px;
  display: block;
  background-color: #FF2E63;
}

.radio-wrapper :first-child{
  margin-top: 10px;
}

.event-passed {
  font-size: small;
  font-style: italic;
}

.radio + .radio {
  margin-top: -10px
}


/* forms */

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}

button {
  background-color: #FF2E63;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #CC245D;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 46, 99, 0.4);
}

.button-small {
  /* background-color: #FF2E63; */
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-small:hover {
  background-color: #4C2C72;
}

.button-small:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 46, 99, 0.4);
}

/* main elements in all pages */

.page-body {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Menu div {
  margin-bottom: 20px
}

.Mainpage {
  flex: 1;
  padding: 20px;
}

.button-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 5px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* HEADER COMPONENT, REGISTRATION FORM */

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DBBBF5;
  padding: 20px;
  font-size: 18px;
}

.Header div:first-child {
  display: flex;
  align-items: center;
}

.Header div:first-child span {
  color: #4C2C72;
  margin-left: 5px;
}

u {
  text-decoration: none;
}

.Header form {
  margin: 0;
}

.login-error{

}

.notification-icon {
  display: flex;
  align-items: center;
}

.notification-icon .icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.notification-icon .icon i {
  font-size: 24px;
}

.notification-icon .icon .notification-count {
  background-color: #4C2C72;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
    text-align: center;
  }

  .Header div:first-child {
    margin-bottom: 10px;
  }

  .notification-icon .icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* User Page */
/* Your profile */

.personal-info div{
  margin-bottom: 10px;
}

.follow {
  display: flex;
}

.follow div {
  display: block;
}

.follow button {
  margin-right: 10px;
}

.personal-avatar {
  width: 200px;
  height: 200px;
  object-fit:cover;
  border-radius: 50%;
}

.avatar-symbol {
  width: 30px;
  height: 30px;
  object-fit:cover;
  border-radius: 50%;
}

/* Create a post */

.post-comment-form {
  margin-top: 20px;
}

.post-comment-form form {
  display: flex;
  flex-direction: column;
}

.post-comment-form label {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.post-comment-form label > span {
  margin-bottom: 5px;
}

.post-comment-form input[type="text"],
.post-comment-form input[type="file"],
.post-comment-form select,
.post-comment-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #223127;
  flex: 1;
}

.post-comment-form select {
  width: 96% !important;
}

.post-comment-form textarea {
  resize: none;
  min-height: 100px;
}

/* Created posts */
.post-wrapper h3 {
  margin-top: 0;
}

.post-image img, .comment-image img {
  margin-top: 5px;
  max-width: 100%;
  border: 1px solid #998650;
}

.created-at {
  text-align: right;
  font-size: small;
  font-style: italic;
}

.wrote{
  font-size: small;
  font-style: italic;
}

.comment-content {
  font-size: 14px;
}

.comment-wrapper + .comment-wrapper {
  margin-top: 10px;
  border-top: 1px solid #998650;
  padding-top: 10px
}

.post-wrapper + .post-wrapper {
  margin-top: 15px;
  border-top: 2px solid #FF2E63;
  padding-top: 10px
}

.upload {
  font-size: small;
  font-style: italic;
  margin-bottom: 10px;
}

/* Users */
.follow-users {
  background-color: #998650;
}

.unfowllow-users {
  background-color: #FF2E63
}

.pending-users {
  background-color: #4C2C72;
  cursor: default !important;
}

span + .button-small {
  margin-left: 10px;
  margin-top: 10px;
}


/*
  Group List
*/

.Mainpage h1{
  margin-top: 10px;
  margin-bottom: 0
}
.group-wrapper {
  min-width: 600px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.group-column {
  float: left;
  width: 74%;
  text-align: left;
}

.group-activity-link {
  text-align: center;
  width: 13%;
  /* text-decoration-line: underline; */
}

.go-to {
  background-color: #998650;
}

.join, .create{
  background-color: #FF2E63
}

.requested {
  background-color: #4C2C72;
  cursor: default !important;
}

.group-desc {
  font-style: italic;
}

.group-created-at, .group-members{
  font-size: small;
  font-style: italic;
}

.Mainpage ul{
  padding: 0
}

ul.group-users-buttons {
  display: flex;
  list-style-type: none;
  /* margin: 0; */
  padding: 0
}

.group-users-buttons li{
  margin-right: 10px
}

.group-events li {
  list-style-type: none;
}

.group-events h3 {
  margin: 0
}

.group-events > ul > li:nth-child(2){
  font-style: italic;
  font-size:small;
}

.event-info {
  margin-top: 5px;
}

.event-info > li {
  margin-right: 10px;
}

.group-events > ul:not(:last-child):nth-of-type(n+1) {
  border-bottom: 1px solid #998650;
}

.group-events > ul:nth-child(2) {
  margin-top: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header span:hover, .user-item span:hover, .icon:hover {
  cursor: pointer;
}
