.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

  }
  
  .chat-bubble {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    display: fixed;
    bottom: 20px;
    right: 20px;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
  }
  
  .chat-list {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    overflow-y: auto;
  }

  .chat-list-container {
    display: flex;
    flex-direction: column;
    /*position inside the chat-list*/
    position: absolute;
    top: 0;
  }
  
  .chat-window-modal {
    bottom: 70px;
    right: 330px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    overflow-y: auto;
    position: fixed;
  }
  
  .emoji-picker {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-height: 50px;
    overflow-y: scroll;
    z-index: 1000;

  }

  .chatBox {
    position: relative;
  }